@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

        body {
            background-color: #c1b3cada;
            font-family: 'Montserrat', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            height: 90vh;
        }

        .login-container {
            width: 70%;
            padding: 0px;
            background-color: #f2f2f2;
            border-radius: 5px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            margin: 0px;
        }

        .login-container .left-section {
            flex: 0 0 50%;
            text-align: center;
            width: 50%;
        }

        .login-container .left-section img {
            max-width: 100%;
            min-height: 100%;
            display: block;
        }

        .login-container .right-section {
            flex: 0 0 50%;
            text-align: center;
            background-color: #f2f2f2;
        }

        .login-container h1 {
            color: #4b2e72;
            font-size: 38px;
            margin-bottom: 38px;
        }

        .form-group {
            margin-bottom: 20px;
            z-index: 1;
        }

        .form-group label {
            display: block;
            font-size: 24px;
            color: #666;
            margin-bottom: 5px;
        }

        .form-group input {
            width: 50%;
            height: 40px;
            padding: 8px;
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            padding-left: 18px;
        }

        .form-group button {
            width: 55.4%;
            height: 50px;
            padding: 10px;
            background-color: #4b2e72;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            cursor: pointer;
        }

        ::placeholder {
            color: #c0b3cb;
        }


        .form-group button:hover {
            background-color: #4b2e72c7;
        }

        .error-message {
            color: red;
            font-size: 20px;
        }

        .txtt{
            color: #4b2e72;
            font-size: 0.8em;
        }

        @media(max-width:1300px)
        {
            
            .login-container h1{
                font-size: 3.5vh;
                margin-bottom: 15px;
            }
            .form-group label{
                font-size: 2.5vh;
            }
            .form-group input{
                height: 4vh;
            }
            .error-message{
                font-size: 2.5vh;
            }
        }
        @media (max-width:1100px) {
            body{
                height: 100vh;
            }
            .login-container{
                display: flex;
                flex-direction: column;
                width: 80%;
                height: 80%;
                border-radius: 15px;
            }
            .login-container .left-section{
                width: 100%;
                max-height: 60%;
                border-radius: 15px;
                min-height: 0%;
                
            }
            .login-container .left-section img{
                width: 100%;
                min-height: 0%;
                border-radius: 15px;
            }
            .right-section{
                width: 100%;
                border-radius: 15px;
                height: auto;
                padding-bottom: 20px;
            }
            .right-section .form-group input{
                width: 75%;
            }
            .right-section .form-group button{
                width: 80%;
            }
        }

        @media (max-width:750px) {
            .login-container{
                width: 90%;
            }

            .right-section.dragged-up {
                transform: translateY(-100%);
            }
            .bar{
                width: 96px;
                height: 5px;
                background-color: rgba(125, 46, 138, 0.489);    
                border-radius: 15px;
                z-index: 1001;
            }
        }