{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>InfoMosaic</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
  <link rel="stylesheet" href="{% static 'first_mnav.css' %}">
  <link rel="stylesheet" href="{% static 'first.css' %}">
</head>
<body>
  <!-- Navigation bar -->
  <div class="navbar" id="desktop-navbar">
    <ul>
        <li class="home"><a href="#page1">InfoMosaic</a></li>
        <li><a href="#" >Contact Us</a></li>
        <li><a href="{% url 'login' %}" >User Login</a></li>
        <li><a href="{% url 'home' %}" >Service Provider</a></li>
    </ul>
  </div>

  <div class="navbar1" id="mobile">
    <ul>
        <li class="home"><a href="#page1">InfoMosaic</a></li>
        <li class="menu-icon"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
    <!-- Add a hidden menu here -->
    <div class="hidden-menu">
      <ul>
        <li><a href="#" >Contact Us</a></li>
      </ul>
      <ul>
        <li><a href="{% url 'login' %}" >User Login</a></li>
      </ul>
      <ul><li><a href="{% url 'home' %}" >Service Provider</a></li></ul>
    </div>
    </ul>
  </div>


  <div id="page1">
    <div class="welcome"><br>WELCOME TO<br></div>
    <div class="im">InfoMosaic</div>
  </div>

  <div class="extrael">We provide exceptional services tailored to your needs</div>
  <div class="page2">
    <div class="half-image half1"></div>
    <div class="half-image half2"></div>
    <div class="thebar"></div>
    <div class="container_right">
      <div class="logo">
        <i class="fas fa-user"></i><b> SEARCH SERVICES</b>
      </div>
      <div class="textbias">Need Services or Contact info of services available nearby you?<br><br><br><br></div>
      <div class="signs" style="left: 40%;"><a href="{% url 'login' %}" ><i class="fas fa-arrow-right"></i></a></div>
    </div>
    <div class="container_left">
      <div class="logo">
        <i class="fas fa-cogs"></i><b> SERVICE PROVIDER</b>
      </div>
      <div class="textbias">Want to promote your services in your locality and nearby? Try our Organization<br><br><br></div>
      <div class="signs"><a href="{% url 'home' %}" ><i class="fas fa-arrow-left"></i></a></div>
    </div>
  </div>
  <script src="{% static 'first.js' %}"></script>
</body>
</html>