{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>InfoMosaic</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'first_mnav.css' %}">

  
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <!-- Navigation bar -->
  <div class="navbar" id="desktop-navbar">
    <ul class="navbar-nav me-auto my-2">
    </ul>
    <ul class="me-auto">
        <li class="home pe-5" style="font-weight: 600;"><a href="#page1" id="bigg">INFOMOSAIC</a></li>
        <li><a href="#page1" >HOME</a></li>
        <li><a href="{% url 'home' %}" >SERVICE PROVIDER</a></li>
        <li><a href="{% url 'login' %}" >USER</a></li>
        <li><a href="#" >CONTACT US</a></li>
        <svg class="ser-ico" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
        <input type="text" class="search-hover" name="" placeholder="search here..." />
    </ul>
  </div>

  <div class="navbar1" id="mobile">
    <ul>
        <li class="home" id="homeh"><a href="#page1">InfoMosaic</a></li>
        <li class="menu-icon"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
    <!-- Add a hidden menu here -->
    <div class="hidden-menu">
      <ul>
        <li><a href="#" >Contact Us</a></li>
      </ul>
      <ul>
        <li><a href="{% url 'login' %}" >User Login</a></li>
      </ul>
      <ul><li><a href="{% url 'home' %}" >Service Provider</a></li></ul>
    </div>
    </ul>
  </div>

  <!--Top title container-->
  <div class="container-fluid" id="page1">
    <div class="welcome mb-n1"><br>WELCOME TO</div>
    <div class="im">InfoMosaic</div>
</div>

  <div class="extrael">We provide exceptional services tailored to your needs</div>
  
  {% include 'components/cors.html' %}
  {% include 'components/away.html' %}
  {% include 'components/sliderwala.html' %}

  <div class="fluid-container my-5" id="ffnow">
    <div class="textff">
        <h6>SPECIAL LIMITED OFFER</h6>
        <h1>Get Free Life Time Subsciption</h1>
        <p>Register now as one of our customers and unlock lifetime access to all the updated services for free
            which may turn paid in future.</p>
        <h2>Don't Miss the Chance</h2>
        <div class="btn btn-dark mt-3">Register Now </div>
    </div>
</div>

<!--know these no mediator-->
<div class="container mb-5 pb-5" id="know-these">
  <div class="row my-5 g-3">
      <div class="col-lg-1 col-xxl-2 d-none d-lg-block"></div>
      <div class="col-12 col-md-7 col-lg-6 col-xxl-5 py-5 pe-5">
          <h6>KNOW THESE THINGS</h6>
          <h1>No Mediator</h1>
          <p>Since we only provide contact details, you talk to them in your native local language, making it a
              hassle free conversation on both ends</p>
          <div class="btn btn-dark">Know more >></div>
      </div>
      <div class="col-md-5 col-lg-4 col-xxl-3 d-none d-md-block">
          <img src="https://images.unsplash.com/photo-1725870475677-7dc91efe9f93?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
          alt="" class="img-fluid">
      </div>
      <div class="col-lg-1 col-xxl-2 d-none d-lg-block"></div>
  </div>

  <div class="row my-5 g-3">
      <div class="col-lg-1 col-xxl-2 d-none d-lg-block"></div>
      <div class="col-md-5 col-lg-4 col-xxl-3 d-none d-md-block">
          <img src="https://images.unsplash.com/photo-1607767583149-021077f2a4ff?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGJhcmdhaW58ZW58MHx8MHx8fDA%3D" 
          alt="" class="img-fluid">
      </div>
      <div class="col-12 col-md-7 col-lg-6 col-xxl-5 py-5 pe-5">
          <h6>KNOW THESE THINGS</h6>
          <h1>Old School Bargain Type</h1>
          <p>We do no charge any kind of amount for our services yet and so no money is taken as commission</p>
          <div class="btn btn-dark">Know more >></div>
      </div>
      <div class="col-lg-1 col-xxl-2 d-none d-lg-block"></div>
  </div>
</div>
  
  <div class="page2">
    <div class="half-image half1"></div>
    <div class="half-image half2"></div>
    <div class="thebar"></div>
    <div class="container_right">
      <div class="logo">
        <i class="fas fa-user"></i><b> SEARCH SERVICES</b>
      </div>
      <div class="textbias">Need Services or Contact info of services available nearby you?<br><br><br><br></div>
      <div class="signs" style="left: 40%;"><a href="{% url 'login' %}" ><i class="fas fa-arrow-right"></i></a></div>
    </div>
    <div class="container_left">
      <div class="logo">
        <i class="fas fa-cogs"></i><b> SERVICE PROVIDER</b>
      </div>
      <div class="textbias">Want to promote your services in your locality and nearby? Try our Organization<br><br><br></div>
      <div class="signs"><a href="{% url 'home' %}" ><i class="fas fa-arrow-left"></i></a></div>
    </div>
  </div>
  <script src="{% static 'first.js' %}"></script>
  
</body>
</html>