{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>InfoMosaic | User Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <script src="https://kit.fontawesome.com/9659230551.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
</head>

<body>
    <div class="login-container">
        <div class="left-section">
            {% load static %}
            <img src="{% static 'img2.jpg' %}" alt="My image">
            <center><div class="bar"></div></center>
        </div>
        <div class="right-section">
            <h1>LOGIN</h1>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="username form-group">
                    <input type="text" name="loginusername" id="username" placeholder="Username" required>
                </div>
                <div class="password form-group">
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
                <div class="login-button form-group">
                    <button type="submit">Log In</button>
                </div>
            </form>
            <div class="txtt">Don't have account?
            <a href="{% url 'signUp' %}">Sign Up</a></div>
            <div class="error-message">
                {% if error_message %}
                <p>{{ error_message }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>

</html>