
@import url('https://fonts.googleapis.com/css2?family=Poppins:&display=swap');

body{
    font-family:Poppins;
}

#cor1{
    background-color: white;
    color: black;
    border-radius: 0.2em;
}

#myCarousel{
    background-color: #cea585;
}

#myCarousel p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: grey;
}

h2{
    font-weight: 600;
}

h1{
  font-weight:bolder;
}

h6{
    font-size: 0.8em;
    margin-bottom: 0.5em;
    font-family: montserrat;
    font-weight: 400;
    color: orangered;
}

#page1 {
    background-image: url("./finalwel.png"); /* Reference the static file directly */
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 20em;
    margin: 0;
  }

  .welcome {
    text-align: left;
    font-size: 3em;
    margin-left: 15px;
    color: rgb(208, 208, 208);
  }
  
  .im {
    text-align: left;
    font-size: 8em;
    margin-left: 15px;
    font-weight: 600;
    color: #1b1c1d;
  }

  .extrael {
    display: flex;
    background-color: #f2f2f2;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }

  #cell-card{
    border-radius: 200px;
    width: 100%;
    height: 330px;
    border: 0;
    background-color: #f2f2f251;
  }

  #cell-card h5{
    font-size: 1.05em;
    font-weight: 600;
  }

  #cell-card img{
    border-radius: 200px;
    height: 240px;
    width: auto;
    object-fit: cover;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    background: transparent;
    text-align: center;
    border: 0;
  }

  .swiper-slide img {
    display: block;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }

  #car-card{
    border: 0;
    text-align: center;
    height: 100%;
    
  }
  
  .card-img-overlay{
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(0, 0, 0, 0.5)) ;
  }

  #car-left{
    background-color: #2a2a2b;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .btn{
    font-size: 1.1em;
  }

  .swiper-button-next, .swiper-button-prev{
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
    padding: 1.5em;
    border-radius: 50%;
  }

  .swiper-button-next:after, .swiper-button-prev:after{
    color: #1b1c1d;
    font-size: 1em !important;
  }

  #best-sp .card-img-top{
    
  }

  #best-sp{
    border: 0px;
    border-bottom: 0.05em rgba(87, 87, 87, 0.336)dashed;
  }

  #best-sp img{
    width: 100%;
    height: 300px;
    opacity: 1;
    z-index: 1;
  }

  .left-colu{
    display: flex;
    color: orangered;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100%;
  }

  .left-colu .nav-link{
    border: 0;
    color: grey;
    font-size: 1.5em;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0.8em;
    border-radius: 0;
    font-weight: 600;
  }

  .left-colu .nav-link.active{
    background-color: transparent;
    color: orangered;
    border-left: 5px orangered solid;
  }

  #swiper2{
    height:fit-content ;
  }

  #swiper2 .swiper-slide{
    height: 20px;
  }

  .hover-text{
    color: #f2f2f2;
    display: none;
  }

  .card-img-over{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 300px;
    width: 100%;
    z-index: 3;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(0, 0, 0, 0.5)) ;
  }

    .card-img-over:hover .hover-text{
      display: block;
    }

  .card-img-over:hover{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgb(0, 0, 0, 0.7)) ;
  }


  #best-sp .text-t{
    text-align: left;
    color: orangered;
    font-size: 0.7em;
    font-weight: 400;
  }

  #best-sp .card-text{
    text-align: left;
    font-weight: 400;
    font-size: 0.8em;
  }

  #ffnow{
    display: flex;
    width: 100%;
    height: 560px;
    background-image: radial-gradient(circle at 86% 30%, rgba(255,255,255, 0.4), rgba(0, 0, 0, 0)), url("./ffnow2.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: right;

  }

  .textff{
    margin-right: 12%;
    width: 30%;
  }

  h1{
    font-weight: 700;
  }

  .textff p{
    color: gray;
  }

  .page2 {
    background-color: #f5f5f5;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .half-image {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .half1 {
    left: 0;
    background-image: url("./half1.jpg"); /* Reference the static file directly */
  }
  
  .half2 {
    right: 0;
    background-image: url("./half2.jpg"); /* Reference the static file directly */
  }

  .container_left {
    position: absolute;
    left: 10%;
    width: 22%;
  }

  .container_right {
    position: absolute;
    left: 70%;
    width: 20%;
  }

  .logo {
    font-size: 3.3em;
    color: #555;
  }

  .signs {
    position: absolute;
    font-size: 3em;
    color: white;
    display: block;
    background-color: #555;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    left: 36%;
  }

  .textbias {
    font-size: 1.2em;
    color: #555;
  }
  .thebar {
    height: 10em;
  }

  #fo{
    color: #f2f2f2;
    font-size: 0.9em;
  }


@media (max-width: 768px) {
  .card-title{
    font-size: 1em;
  }
}

@media (max-width: 768px) {
    #cor1{
        width: 80%;
        min-height: fit-content;
    }

    #myCarousel{
        background-color: white;
    }
}

@media (max-width: 767px) {
    #page1 {
      height: 14em;
      width: 100%;
      background-size: cover;
    }
  
    .extrael {
      height: 200px;
      font-size: 1.5em;
      padding: 20px;
      text-align: center;
    }
  
    .welcome {
      font-size: 2em;
      top: 6%;
    }
  
    .im {
      font-size: 65px;
      top: 15%;
    }

    .half-image {
      width: 100%;
      height: 50%;
    }
  
    .half1 {
      top: 0;
      left: 0;
    }
  
    .half2 {
      top: 75%;
      left: 0;
      transform: translateY(-50%);
    }
  
    .container_left {
      position: absolute;
      font-size: 1em;
      width: 55%;
    }
  
    .container_right {
      position: absolute;
      font-size: 1em;
      left: 35%;
      width: 55%;
    }
  
    .container_right {
      top: 70%;
      transform: translateY(-50%);
    }
  
    .logo {
      font-size: 2em;
    }
  
    .textbias {
      font-size: 1em;
    }
  
    .thebar {
      height: 15.417vw;
    }

    #car-left{
      padding: 2em;
      margin-top: 1em;
      width: 100%;
    }

    .left-colu .nav-link{
      font-size: 1em;
    }

    .textff{
      margin: 10%;
      width: 100%;

    }

    #ffnow{
      height: fit-content;
      background-image: radial-gradient(circle at 50% 50%, rgba(255,255,255, 0.8), rgba(255, 255, 255, 0.6)), url("./ffnow2.png");
    }
  }