<!DOCTYPE html>
{% load static%}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>InfoMosaic | SignUp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href= {% static "signup.css" %}>
    <link rel="stylesheet" href="{% static 'first_mnav.css' %}">
    <script src="https://kit.fontawesome.com/9659230551.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
</head>

<body>

    <script src="{% static 'login.js' %}"></script>
    <!-- Navigation bar -->
  <div class="navbar" id="desktop-navbar">
    <ul>
        <li class="home"><a href="{% url 'user' %}">InfoMosaic</a></li>
        <li><a href="#" >Contact Us</a></li>
        <li><a href="{% url 'login' %}" >User Login</a></li>
        <li><a href="{% url 'home' %}" >Service Provider</a></li>
    </ul>
  </div>

  <div class="navbar1" id="mobile">
    <ul>
        <li class="home"><a href="{% url 'user' %}">InfoMosaic</a></li>
        <li class="menu-icon"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
    <!-- Add a hidden menu here -->
    <div class="hidden-menu">
      <ul>
        <li><a href="#" >Contact Us</a></li>
      </ul>
      <ul>
        <li><a href="{% url 'login' %}" >User Login</a></li>
      </ul>
      <ul><li><a href="{% url 'home' %}" >Service Provider</a></li></ul>
    </div>
    </ul>
  </div>

    <div class="login-container">
        <div class="left-section">
            {% load static %}
            <img src="{% static 'imgsup.jpg' %}" alt="My image">
        </div>
        <div class="right-section">
            <div class="heading-1">
                <h1>Connect with trusted service providers easily!</h1>
            </div>
            <form method="post" action="{% url 'signUp' %}">
                {% csrf_token %}
                <div class="Fullname form-group">
                    <input type="text" name="Fullname" id="fullname" placeholder="Name" required>
                </div>
                <div class="Username form-group">
                    <input type="text" name="Username" id="username" placeholder="Username" required>
                </div>
                <div class="Password form-group">
                    <input type="password" name="Password" id="password" placeholder="Password" minlength="6" required>
                </div>
                <div class="Email form-group">
                    <input type="text" name="Email" id="email" placeholder="Email id" required>
                </div>
                <div class="Phoneno form-group">
                    <input type="text" name="Phoneno" id="phoneno" placeholder="Phone no." required>
                </div>
                <div class="signup-button form-group">
                    <button type="submit">Sign Up</button>
                </div>
            </form>
            <div class="error-message">
                {% if error_message %}
                <p>{{ error_message }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>

</html>