<div class="container-fluid text-center p-2 my-5 px-5">
    <h6>LOOK FOR WHO YOU NEED</h6>
    <h1 class="pb-4">Search By Category</h1>
    <div class="row g-5">
        <div class="col-xxl-2"></div>
        <div class="col-6 col-md-3 col-xxl-2">
            <div class="card" id="cell-card">
                <img src="https://img.freepik.com/premium-photo/smiling-indian-male-construction-worker-standing-construction-site_31965-115352.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">PLUMBER</h5>
                    <h6>3 MINS AWAY</h6>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3  col-xxl-2">
            <div class="card" id="cell-card">
                <img src="https://media.istockphoto.com/id/458231091/photo/painted-painter-painting.jpg?s=612x612&w=0&k=20&c=WqCHw2I-pkt8Vypw6aj4OXJZ0xsWFAe7FebzpBPOOyM="
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">PAINTER</h5>
                    <h6>12 MINS AWAY</h6>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3  col-xxl-2">
            <div class="card" id="cell-card">
                <img src="https://img.freepik.com/free-photo/smiling-young-female-teacher-standing-front-blackboard-holding-mini-blackboard-classroom_141793-120305.jpg?w=1060&t=st=1697190314~exp=1697190914~hmac=6315fe8e698600220f093cac170760b223be961cf3943849b9143f425f28f62f"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">TEACHER</h5>
                    <h6>7 MINS AWAY</h6>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 col-xxl-2">
            <div class="card" id="cell-card">
                <img src="https://img.freepik.com/premium-photo/indian-male-electrician-giving-thumbsup-smiling_437792-132.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text">ELECTRICIAN</h5>
                    <h6>4 MINS AWAY</h6>
                </div>
            </div>
        </div>
        <div class="col-xxl-2"></div>
    </div>
</div>