<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="fluid-container">
    <div class="row m-2 g-3">
        <div class="col-4 col-md-3 col-xl-2">
            <div class="left-colu">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                        aria-selected="true">Best Rated</button>
                    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false">Nearest</button>
                    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                        aria-selected="false">Professional</button>
                </div>
            </div>
        </div>
        <div class="col-8 col-md-9 col-xl-10">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                aria-labelledby="v-pills-home-tab">
                <h6>TALK WITH THEM</h6>
                <h1 class="pb-3">Best Rated Service Providers</h1>
                <div class="swiper swiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card" style="width: 18rem;" id="best-sp">
                                <img src="https://img.freepik.com/premium-photo/smiling-indian-male-construction-worker-standing-construction-site_31965-115352.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-img-over">
                                    <div class="hover-text">
                                        <h3>Ram Gopal Sharma</h3>
                                        <h6>96 Lorem ipsum dolor sit</h6>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="text-t">PLUMBER</div>
                                    <p class="card-text">plumber1@plumbermail.com <br> +91 69696 96969</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card" style="width: 18rem;" id="best-sp">
                                <img src="https://img.freepik.com/premium-photo/smiling-indian-male-construction-worker-standing-construction-site_31965-115352.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-img-over">
                                    <div class="hover-text">
                                        <h3>Ram Gopal Sharma</h3>
                                        <h6>96 Lorem ipsum dolor sit</h6>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="text-t">PLUMBER</div>
                                    <p class="card-text">plumber1@plumbermail.com <br> +91 69696 96969</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card" style="width: 18rem;" id="best-sp">
                                <img src="https://img.freepik.com/premium-photo/smiling-indian-male-construction-worker-standing-construction-site_31965-115352.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-img-over">
                                    <div class="hover-text">
                                        <h3>Ram Gopal Sharma</h3>
                                        <h6>96 Lorem ipsum dolor sit</h6>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="text-t">PLUMBER</div>
                                    <p class="card-text">plumber1@plumbermail.com <br> +91 69696 96969</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card" style="width: 18rem;" id="best-sp">
                                <img src="https://img.freepik.com/premium-photo/smiling-indian-male-construction-worker-standing-construction-site_31965-115352.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-img-over">
                                    <div class="hover-text">
                                        <h3>Ram Gopal Sharma</h3>
                                        <h6>96 Lorem ipsum dolor sit</h6>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="text-t">PLUMBER</div>
                                    <p class="card-text">plumber1@plumbermail.com <br> +91 69696 96969</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card" style="width: 18rem;" id="best-sp">
                                <img src="https://img.freepik.com/premium-photo/smiling-indian-male-construction-worker-standing-construction-site_31965-115352.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-img-over">
                                    <div class="hover-text">
                                        <h3>Ram Gopal Sharma</h3>
                                        <h6>96 Lorem ipsum dolor sit</h6>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="text-t">PLUMBER</div>
                                    <p class="card-text">plumber1@plumbermail.com <br> +91 69696 96969</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card" style="width: 18rem;" id="best-sp">
                                <img src="https://img.freepik.com/premium-photo/smiling-indian-male-construction-worker-standing-construction-site_31965-115352.jpg"
                                    class="card-img-top" alt="...">
                                <div class="card-img-over">
                                    <div class="hover-text">
                                        <h3>Ram Gopal Sharma</h3>
                                        <h6>96 Lorem ipsum dolor sit</h6>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="text-t">PLUMBER</div>
                                    <p class="card-text">plumber1@plumbermail.com <br> +91 69696 96969</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                ...</div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper(".swiper2", {
        slidesPerView: 1,
        spaceBetween: 30,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {
            768: {
                slidesPerView: 2,
            },
            1050: {
                slidesPerView: 3,
            },
            1400: {
                slidesPerView: 4,
            },
        },
    });
</script>