<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container-fluid my-5 p-0">
    <div class="row mx-0">
        <div class="col-12 col-md-7">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card bg-dark text-white" id="car-card">
                            <img src="https://images.unsplash.com/photo-1520451214409-ba3eed10dc52?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
                                class="card-img" alt="...">
                            <div class="card-img-overlay">
                                <h2 class="card-title">CLOSER & BETTER</h2>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card bg-dark text-white" id="car-card">
                            <img src="https://img.freepik.com/free-vector/online-review-concept-illustration_114360-2155.jpg?w=740&t=st=1697520003~exp=1697520603~hmac=c0510935cc12b8f9458c12c32bd70bc507a9104889ad81f36867911476919dab"
                                class="card-img" alt="...">
                            <div class="card-img-overlay">
                                <h2 class="card-title">GENUINE REVIEW</h2>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card bg-dark text-white" id="car-card">
                            <img src="https://images.unsplash.com/photo-1588702547919-26089e690ecc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
                                class="card-img" alt="...">
                            <div class="card-img-overlay">
                                <h2 class="card-title">EASY REGISTRATION</h2>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card bg-dark text-white" id="car-card">
                            <img src="https://img.freepik.com/free-vector/product-quality-concept-illustration_114360-7301.jpg?w=740&t=st=1697520239~exp=1697520839~hmac=b8e2783bac3b453563d7dae07a575ef51faa9bd68bbc2c40c89cadcb7f7a2448"
                                class="card-img" alt="...">
                            <div class="card-img-overlay">
                                <h2 class="card-title">CERTIFIED WORKERS</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>

        <div class="col-12 col-md-5 pe-0 ps-0">
            <div class="container-fluid align-middle text-light" id="car-left">
                <h6>READY TO EXPLORE?</h6>
                <h1>We Want to Make Your Everday Life Easier</h1>
                <h6><a class="btn btn-lg btn-light px-3 py-2 mt-2" href="#">Explore <svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg></a></h6>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 2,
        spaceBetween: 30,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>